@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
:root {
  --form_color: linear-gradient(
    to bottom,
    rgba(194, 194, 233, 0.171),
    rgba(173, 188, 199, 0.247)
  );
}
body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  background-image: url("./images/img4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#main {
  display: flex;
  box-sizing: border-box;
}
#form {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  margin: 0 auto;
}
form {
  height: fit-content;
  max-width: 100%;
  position: relative;
  top: 70%;
  width: 300px;
  background: inherit;
  color: black;
  overflow: hidden;
  border-radius: 5px;
  padding-bottom: 5%;
  box-shadow: -15px 5px 5px rgba(37, 34, 34, 0.466);
  background: var(--form_color);
  border: solid 1px;
}
input[type="email"] {
  padding: 1%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
  border-color: black;
  background: rgba(255, 255, 255, 0.459);
}
input[type="password"] {
  padding: 1%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
  border-color: black;
  background: rgba(255, 255, 255, 0.459);
}
input[type="submit"] {
  padding: 2%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
  border-color: black;
  background: rgba(20, 20, 20, 0.315);
}
input[type="submit"]:hover {
  color: white;
  background-color: rgb(29, 85, 189);
}
label {
  padding: 1%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-weight: bold;
}
#form h1 {
  text-align: center;
  padding-top: 5%;
  padding: 1%;
  font-size: 2.5vh;
  background: lightgrey;
  border-radius: 10px;
  margin-right: 5%;
  margin-left: 5%;
}
#form a {
  text-decoration: none;
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 0.5rem;
  color: grey;
}
/*--------------------------------------------*/
#box {
  border: 1px solid lightgrey;
  border-radius: 10px;
  animation-name: box;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: fixed;
  background: inherit;
  max-width: 100%;
  height: 0 auto;
  top: 15%;
  width: 50px;
  height: fit-content;
}
@keyframes box {
  0% {
	border-bottom: 1px transparent;
  }
  15% {
    border-left: 1px solid black;
  }
  50% {
    border-top: 1px solid black;
  }
  80% {
    border-right: 1px solid black;
  }
  100% {
    border-bottom: 1px solid black;
  }
}
#box {
  text-align: center;
}
/*--------------------------------------------------------------------*/
#social-media {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  justify-content: space-evenly;
  text-decoration: none;
  background: lightgrey;
  border-radius: 10px;
  margin-right: 5%;
  margin-left: 5%;
}
#social-media a {
  position: relative;
  color: black;
  font-size: 1.5rem;
  height: fit-content;
  width: fit-content;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
}
